@font-face {
  font-family: 'AxiForma Bold';
  src: local('AxiForma Bold'), url('./assets/fonts/AxiformaBold.otf') format('opentype');

}

@font-face {
  font-family: 'MarvelRegular';
  src: local('MarvelRegular'), url('./assets/fonts/MarvelRegular.ttf') format('truetype');

}

@font-face {
  font-family: 'AxiForma Regular';
  src: local('AxiForma Regular'), url('./assets/fonts/KastelovAxiformaRegular.otf') format('opentype');

}

@font-face {
  font-family: 'AxiForma Light';
  src: local('AxiForma Light'), url('./assets/fonts/Kastelov\ -\ Axiforma\ Light.otf') format('opentype');

}

@font-face {
  font-family: 'AxiForma Medium';
  src: local('AxiForma Medium'), url('./assets/fonts/Kastelov\ -\ Axiforma\ Medium.otf') format('opentype');

}

@font-face {
  font-family: 'AxiForma Thin';
  src: local('AxiForma Thin'), url('./assets/fonts/Kastelov\ -\ Axiforma\ Thin.otf') format('opentype');

}

